<!-- Modal -->
<div
	class="modal fade"
	id="reviews-modal"
	data-bs-keyboard="true"
	tabindex="-1"
	aria-labelledby="Reviews Modal"
	aria-hidden="true"
>
	<div
		class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
	>
		<div class="modal-content rounded-4 bg-light">
			<div class="modal-header border-0 d-block">
				<button
					type="button"
					class="btn-close s-desc-close-btn pt-3 m-0"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body s-desc px-4 pt-0">
				<div class="py-4">
					<h4 class="modal-title mb-3 fw-bold" id="staticBackdropLabel">
						Num of reviews
					</h4>
					<a
						tabindex="0"
						class="link-secondary"
						role="button"
						data-bs-custom-class="custom-popover"
						data-bs-toggle="popover"
						data-bs-trigger="focus"
						data-bs-placement="bottom"
						data-bs-html="true"
						data-bs-content=" 
							Reviews from past guests help our community learn more about each
							home. By default, reviews are sorted by recency.
							Only the guest who made the reservation can leave a review, and
							NestInn only moderates reviews flagged for not following our
							policies.
							To be eligible for a percentile ranking or guest favourite
							label, hostels need 5 or more recent reviews. Criteria is subject
							to change.
						"
						>Learn how reviews work
					</a>
				</div>
				<div class="col-12 py-4 border-bottom">
					<div class="row row-cols-md-2 row-cols-sm-1 row-cols-1">
						<% if (hostel.reviews.length === 0) { %>
						<h4>No Reviews Available.</h4>
						<% } else { %> <% for (let review of hostel.reviews) { %>
						<div class="card my-3 bg-light">
							<div class="card-body h-auto pe-4">
								<div
									class="mb-2 d-flex flex-column justify-content-between h-auto gap-2"
								>
									<div class="d-flex flex-row">
										<img
											src="../icons/filterIcons/Naruto.jpg"
											alt="host-dp"
											class="rounded-circle h-25 host-overview-dp"
										/>
										<div class="ms-3">
											<h6 class="card-title mb-1 r-title">
												<%= review.author.username %>
											</h6>
											<p class="card-subtitle text-secondary mb-2 r-subtitle">
												1 year(s) on NestInn
											</p>
										</div>
									</div>

									<p
										class="fw-semibold s-ratings d-flex justify-content-start align-items-center m-0"
									>
										<span class="s-rated d-flex w-auto"
											><%= review.rating %></span
										>
										<span class="dot px-1">·</span>
										<span class="r-date"
											><%= new Date(review.createdAt).toDateString() %></span
										>
									</p>
								</div>
								<p class="card-text r-comment mb-2 mt-0">
									<%= review.comment %>
								</p>

								<div class="row row-cols-lg-3">
									<a href="#" class="card-link r-link link-dark">Show More</a>
									<% if (currUser) { %>
									<form
										action="/hostels/<%= hostel._id %>/reviews/<%= review._id %>?_method=DELETE"
										method="post"
										class="m-0 p-0"
									>
										<button type="submit" class="btn btn-dark btn-sm">
											Delete
										</button>
									</form>
									<% } %>
								</div>
							</div>
						</div>
						<% } %> <% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
