<% layout("/layouts/boilerplate") %>

<script>
	let mapToken = "<%= process.env.MAP_TOKEN %>";
	let hostel = <%- JSON.stringify(hostel) %>;
</script>
<!-- Hostel Container -->
<div class="container-lg">
	<div class="row">
		<!-- Title -->
		<h3 class="my-4"><%= hostel.title %> <span class="ms-2 fw-semibold fs-5 text-muted">(For <%= hostel.forWhom %>)</span></h3>
		
		<!-- Image Carousel -->
		<div
			id="imageCarousel"
			class="carousel slide shadow rounded p-0 position-relative"
			data-bs-ride="carousel"
		>
			<div class="carousel-inner">
				<% hostel.images.forEach((img, idx) => { %>
				<div class="carousel-item <%- idx === 0 ? 'active' : '' %>">
					<img
						src="<%= img.url %>"
						class="d-block w-100 rounded"
						alt="Hostel Image"
					/>
				</div>
				<% }); %>
			</div>
			<button
				class="carousel-control-prev"
				type="button"
				data-bs-target="#imageCarousel"
				data-bs-slide="prev"
			>
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			</button>
			<button
				class="carousel-control-next"
				type="button"
				data-bs-target="#imageCarousel"
				data-bs-slide="next"
			>
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
			</button>
			<button
				class="btn btn-sm btn-warning col-auto position-absolute top-100 start-50 translate-middle"
				data-bs-toggle="modal"
				data-bs-target="#previewModal"
				data-
			>
				<i class="fa-solid fa-images me-2"></i>
				Show Images
			</button>
			
		</div>
		
		<!-- Hostel Details -->
		<%- include("../includes/showDetails.ejs") %>

		<!-- Reviews -->
		<%- include("../reviews/addReviews.ejs") %>
		<br />
		<%- include("../reviews/allReviews.ejs") %>
	</div>
</div>

<!-- Map Section -->
<div class="container-lg border-top py-4">
	<h4 class="mt-2">Where You'll Be</h4>
	<div id="map" class="mt-4 shadow-sm rounded-4"></div>
</div>

<div class="container-lg border-top py-4">
	<% if (hostel.nearbyColleges && hostel.nearbyColleges.length) { %>
	<h5 class="mb-4">Nearby Colleges</h5>
	<ul class="list-group list-group-flush mb-3 rounded-4">
		<% hostel.nearbyColleges.forEach(college => { %>
		<li class="list-group-item bg-warning-subtle fw-semibold">
			<i class="fa-solid fa-graduation-cap text-success me-2"></i></i>
			<%= college %>
		</li>
		<% }) %>
	</ul>
	<% } %>
</div>

<!-- JS for Map -->
<script src="../js/components/map.js"></script>
